.heroes {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 20px;
}

.slideshow-container {
	flex: 1 0 30%;
	min-width: 300px;
	max-width: 600px;
}

img {
	max-width: 100%;
	max-height: 500px;
	flex-shrink: 0;

}

.smalltext {
	flex: 1 0 20%;
	max-height: 600px;
	overflow: scroll;
	margin: 20px;
	min-width: 200px;
}

.largetext {
	flex: 1 0 40%;
	max-height: 600px;
	overflow: scroll;
	margin: 20px;
}

.tolist {
	flex: 1 0 80%;
	display: flex;
	justify-content: flex-end;
	padding: 0 40px;
}
