/* Navigation bar*/
.nav {
  overflow: auto;
  white-space: nowrap;
  background-color: #dddddd;
}

.nav a {
  display: inline-block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.nav a:hover {
background-color: #777;
}

.currentpage {
 background-color: red; 
}

/*End of nav bar*/

body {
  background-image: url('background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: stretch;
}

p	{
  color: red;
}

body {
  background-color: grey;
}

/*Home*/

table {
  width: 100%;
  text-align: center;
  height: 600px;

}

td {
  width: 50%;
}

