/* Navigation bar*/
.nav {
  overflow: auto;
  white-space: nowrap;
  background-color: #dddddd;
}

.nav a {
  display: inline-block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.nav a:hover {
background-color: #777;
}

.currentpage {
 background-color: red; 
}

/*End of nav bar*/

p	{
  color: red;
}

body {
  background-color: grey;
}

/*Home*/

table {
  width: 100%;
  text-align: center;
  height: 600px;

}

td {
  width: 50%;
}

/*
.homecolumn {
  float: left;
  width: 50%;
}

 /*Heroes*/

.column {
  float: left;
  overflow: scroll;
  max-height: 500px;
}

.left {
  width: 30%;
}

.middle {
	width: 20%;
}

.right {
	width: 50%;
}

/*Films*/

.filmscolumn {
  float: left;
  overflow: scroll;
  height: 500px;
  width: 50%;
}

/*live*/

.liverow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  }

.livecolumn {

  max-width: 30%;
  padding: 0 4px;
}

.livecolumn img {
  max-width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

/*
.liverow {
  background-color: black;

  padding: 0 4px;
} 

.livecolumn {

  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.livecolumn img {
  margin-top: 8px;
  width: 100%;
  vertical-align: middle;
}
*/
/*about*/

.aboutcolumn {
  float: left;
  width: 33%;
}

.aboutcontent {
  padding: 10px;
  margin: 8px;
  background-color: white;

}

.aboutcontent img {
  width: 100%;
}

/*end about*/

@media screen and (max-width: 800px) {
    .livecolumn {
    width: 50%;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .filmscolumn {
    width: 100%;
  }
  .livecolumn {
    width: 100%;
  }
}
